#editor { 
    position: relative;
	width: 450px;
	height: 400px;
}
td {
    padding:0 15px 0 15px;
    padding-bottom: 1em;
    font-size: 13pt;
}

div#hints {

/*    float: right;*/
/*    margin-left: 0%;
    height: 200px;*/
/*    float: right;*/
}

section {
/*    height: 200px;
    padding: 10px;*/
    width: 100%; 
    overflow: hidden;
}
div#one {
    float: left;
    width: 500px;
}
div#two {
/*    margin-left: 0%;
    height: 200px;
    float: right;*/
    margin-left: 100px;
}