{% extends "_base.html" %}  {% include "navigation.html" %}
{% block content %}



{% include "navigation.html" %}

<!-- Planning Floater -->
<div class="planner floater" id="floatingPlanner">
  <h3>Planning Notes</h3>
  <p>Some Notes Here</p>
  <button type="button" id="closeFloater" class="btn notes-btns">Close</button>
</div>

<div class="container">
  <p>This is the dashboard. I hope you find what you need.</p>

  <div class="row">
    <div class="col-xs-12 col-md-7">
      <div class="purple-container">
        <h3 class="challenge-header">Upcoming Due Dates</h3>
        <div class="challenge-grid" id="upcomingChalsPanel">
          <div class="row">
            <div class="col-xs-6 col-header">Challenge</div>
            <div class="col-xs-3 col-header">Due Date</div>
            <div class="col-xs-3 col-header">Deadline</div>
          </div>
          <div class="row">
            <div class="col-xs-6"><a href="">Mu Puzzle</a></div>
            <div class="col-xs-3">Feb 10</div>
            <div class="col-xs-3">10 PM</div>
          </div>
          <div class="row">
            <div class="col-xs-6"><a href="">Mu Puzzle 2</a></div>
            <div class="col-xs-3">Feb 12</div>
            <div class="col-xs-3">10 PM</div>
          </div>
          <div class="row">
            <div class="col-xs-6"><a href="">String Theory</a></div>
            <div class="col-xs-3">Feb 14</div>
            <div class="col-xs-3">10 PM</div>
          </div>
          <div class="row">
            <div class="col-xs-6"><a href="">Cats on a String</a></div>
            <div class="col-xs-3">Feb 16</div>
            <div class="col-xs-3">10 PM</div>
          </div>
        </div>
      </div>

      <div class="purple-container">
        <h3 class="challenge-header">Completed Challenges</h3>
        <div class="challenge-grid" id="completedChalsPanel">
          <div class="row">
            <div class="col-xs-6 col-header">Challenge</div>
            <div class="col-xs-3 col-header">Due Date</div>
            <div class="col-xs-3 col-header">Deadline</div>
          </div>
          <div class="row">
            <div class="col-xs-6"><a href="">Omitting Bad Words</a></div>
            <div class="col-xs-3">Feb 8</div>
            <div class="col-xs-3">10 PM</div>
          </div>
          <div class="row">
            <div class="col-xs-6"><a href="">With Cats</a></div>
            <div class="col-xs-3">Feb 6</div>
            <div class="col-xs-3">10 PM</div>
          </div>
          <div class="row">
            <div class="col-xs-6"><a href="">Arrays</a></div>
            <div class="col-xs-3">Feb 4</div>
            <div class="col-xs-3">10 PM</div>
          </div>
          <div class="row">
            <div class="col-xs-6"><a href="">Indexing</a></div>
            <div class="col-xs-3">Feb 2</div>
            <div class="col-xs-3">10 PM</div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-5">
      <div class="purple-container">
        <h3>Python Resources</h3>
        <ul>
          <p><a href="https://docs.python.org/3/">Official Python Documentation</a></p>
          <p><a href="http://sahandsaba.com/thirty-python-language-features-and-tricks-you-may-not-know.html">30 Python Features You May Not Know</a></p>
          <p><a href="https://wiki.python.org/moin/SimplePrograms">Simple Python Programs</a></p>

      </div>
    </div>
  </div>

</div>

<script src="assets/js/main.js" type="text/javascript"></script>


{% endblock %}
