{% extends "_base.html" %}

{% block content %}

<head>
  <title>Teacher Dashboard</title>
  <link href="assets/styles/styles.css" rel="stylesheet" type="text/css">

  <!-- jquery -->
  <!-- ommitted due to update. new version placed at bottom of body tag -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <!-- bootstrap -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous"> -->

  <!-- ace editor cdn -->
  <!-- <script src="https://cdn.jsdelivr.net/ace/1.2.3/min/ace.js"></script> -->

  <!-- google font -->
  <link href='https://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>

  <!-- date time picker -->
  <script type="text/javascript" src="assets/bower/bower_components/moment/min/moment.min.js"></script>
  <script type="text/javascript" src="assets/bower/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
  <link rel="stylesheet" href="assets/bower/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" />

  <!-- my styles -->
  <link href="assets/styles/styles.css" type="text/css" rel="stylesheet">

  <style type="text/css" media="screen">

  </style>
</head>

<body>

  {% include "navigation.html" %}

  <!-- Planning Floater -->
  <div class="planner floater" id="floatingPlanner">
    <h3>Planning Notes</h3>
    <p>add listener to "add another test case" button</p>
    <p>add hint field to test case; format so that cases and hints are visually grouped.</p>
    <button type="button" id="closeFloater" class="btn notes-btns">Close</button>
  </div>

  <div class="page-container">
    <div class="purple-container challenge-form">
      <h3>Create a New Challenge</h3>
      <form method="POST">
        {{ form.name.label }} {{ form.name(class='form-field') }} </br>
        {{ form.description.label }} {{ form.description(class='form-field') }} </br>
        {{ form.dueDate.label }} {{ form.dueDate(class='form-field') }} </br>
        {{ form.codeText.label(class='file-select') }} {{ form.codeText() }} </br>
        <div>test div</div>
        {{ form.submit(class='form-field') }}
      </form>
    </div>

    <div class="purple-container challenge-form">
      <form action="" method="post" id="newChallengeForm" role="form">
        <fieldset class="form-group">
          <label for="challengeName">Challenge Name</label>
          <input type="text" class="form-control" id="challengeName" name="challengeName" maxlength="100" autofocus/>
        </fieldset>

        <fieldset class="form-group">
          <label for="challengeDesc">Challenge Description</label>
          <textarea type="text" class="form-control" id="challengeDesc" name="challengeDesc" rows="4"></textarea>
        </fieldset>

        <div class="form-label">Choose a Deadline</div>
        <div class="container date-time-picker-container">
          <div class="row">
            <div class='col-sm-6'>
              <div class="form-group">
                <div class='input-group date date-box' id='datetimepicker1'>
                  <input type='text' class="form-control" />
                  <span class="input-group-addon">
                              <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>
            </div>
            <script type="text/javascript">
              $(function() {
                $('#datetimepicker1').datetimepicker({
                  // debug: true
                });
              });
            </script>
          </div>
        </div>

        <fieldset class="form-group">
          <label for="challengeStarterCode">Code Window Content</label>
          <textarea type="text" class="form-control" id="preFilledPython" name="challengeStarterCode" rows="10" placeholder="enter python code here"></textarea>
        </fieldset>

        <label for="test-cases-fields">Test Cases</label>
        <fieldset name="test-cases-fields" class="form-group hint-section-form">
          <fieldset class="form-group hint-input" id="hintFieldset">
            <label class="sm-label" for="testCase1">Test Case 1</label>
            <input type="text" class="form-control" id="testCase1" name="testCase1" placeholder="enter assertion here" />
            <label class="sm-label hint-label" for="hint1">Hint</label>
            <input type="text" class="form-control hint-input" id="hint1" name="hint1" />
          </fieldset>
          <button type="button" id="addTestCaseBtn" class="btn my-btns form-btn">Add Another Test Case</button>
        </fieldset>

        <div class="button-container">
          <button type="button" id="cancelExForm" class="btn form-button-cancel">Cancel</button>
          <button type="button" id="createChallenge" class="btn form-button-ok">Create</button>
        </div>

      </form>
    </div>





  </div>

</body>
<script src="assets/js/main.js" type="text/javascript"></script>
<script src="assets/js/dataBuilders.js" type="text/javascript"></script>
{% endblock %}
