{% extends "_base.html" %}

{% block content %}

<!-- Planning Floater -->
<div class="planner floater" id="floatingPlanner">
  <h3>Planning Notes</h3>
  <p>
    add test cases and hints; add id to container to grab it with js.
  </p>
  <button type="button" id="closeFloater" class="btn notes-btns">Close</button>
</div>

<div class="page-container container-fluid">

  <div class="row"> <!-- sb-main-row -->
    <div class="col-sm-4 col-md-3 col-lg-2 z1"> <!-- sb-col -->
      <div class="chal-panel light-grey-bg">
      <h3 class="panel-header">Challenges</h3>
      <!-- Challenge panel on left -->
        <div class="chal-selector dark-grey-bg" id="chalSelectBox">

          <div class="btn lighter-purple chal-btn">
            Challenge 1
          </div>
          <div class="btn lighter-purple chal-btn">
            Challenges 2
          </div>
          <div class="btn lighter-purple chal-btn">
            Challenges 3
          </div>
        </div>
      </div>
    </div>
    <!-- end sb-col -->

    <div class="col-sm-8 col-md-9 col-lg-10 code-win"> <!-- ed-tc-col -->
      <div class="row"> <!-- ed-tc-row -->

        <div class="col-xs-12 col-md-7 editor-container"> <!-- ed-col -->
          <!-- Coding workspace on right -->
          <h3>Challenge Name</h3>
          <p class="chal-desc">This is a challenge discription which describes, with details, the sorts of things a student is expected to produce in the code window featured below this here challenge description. The description won't be redundant at all. Instead, it will
            be very descriptive and helpful. We like helpful descriptions.</p>
          <!-- Coding window -->
          <div id="editor" class="editor py-editor">
            # 1 add U if string ends in I def op1(string): if string[-1] == 'I': return string + 'U' else: print "string doesn't end in 'I'." return string # 2 double string content after M def op2(string): x = string[1:] return string + x
          </div>

          <div class="btn-container">
            <button class="btn my-btns gen-btn"><strong>Test Code</strong></button>
            <button class="btn my-btns submit light-grey-bg"><strong>Submit Solution</strong></button>
          </div>
        </div> <!-- end ed-col -->

        <div class="col-xs-12 col-md-5"> <!-- tc-col -->
          <section class="test-cases-container">
            <h3>Test Cases</h3>
            <div class="test-case-cont" id="testCaseDiv">
              <div class="row case-row">
                <div class="col-xs-8">
                  <span class="test-case-text">assert op1("MIII") == MU;</span>
                </div>
                <div class="col-xs-4 col-lg-4 assert-true">
                  True
                </div>
              </div>

              <div class="row case-row">
                <div class="col-xs-8">
                  <span class="test-case-text">assert op2("MIII") == MIIIIII;</span>
                </div>
                <div class="col-xs-4 col-lg-2 assert-false">
                  False
                </div>
                <div class="col-xs-4 col-lg-2">
                  <a class="hint-link" href="">hint</a>
                </div>
              </div>

              <div class="row case-row">
                <div class="col-xs-8">
                  <span class="test-case-text">assert op1("MIII") == MUUUU;</span>
                </div>
                <div class="col-xs-4 col-lg-2 assert-false">
                  False
                </div>
                <div class="col-xs-4 col-lg-2">
                  <a class="hint-link" href="">hint</a>
                </div>
              </div>
            </div>
          </section>
        </div>
        <!-- end tc-col -->
      </div>
      <!-- end ed-tc-row -->

    </div>
    <!-- end ed-tc-col -->
  </div>
  <!-- end sb-main-row -->
</div>
<!-- end page-container -->

<script>
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/tomorrow_night_eighties");
  editor.getSession().setMode("ace/mode/python");
</script>

</div>

{% endblock %}
